body {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  color: #fff;
  background-color: #000;
  // overflow: hidden;
}

canvas {
  display: block;
}

#container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
