.main {
  position: absolute;
  top: 80px;
  right: 250px;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}

.time__wrapper {
  position: relative;

  margin-bottom: 0px;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  opacity: 0.25;
  transition: 0.25s;
  p {
    transition: 0.25s;
  }
  .info {
    transition: 0.25s;
  }

  &:hover {
    opacity: 1 !important;
    #placeholder {
      transform: translateY(100%);
      opacity: 0;
    }
    .play {
      transform: translateY(0);
      opacity: 1;
    }
    .date-play {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &:active {
    p {
      opacity: 0.5;
    }
    .info {
      opacity: 0.5;
    }
    transform: scale(0.95);
  }
}

.link-wrapper {
  display: flex;
  align-items: center;
}

.link-wrapper.disabled {
  pointer-events: none;
}

.hour {
  margin-right: 64px;
}

.info {
  position: relative;
}

#placeholder {
  transition: 0.3s;
}

.play {
  opacity: 0;
  bottom: 0;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.3s;
}

.date-play {
  opacity: 0;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.3s;
  font-size: 18px;
  bottom: 0;
  color: gray !important;
}

/* Others */

.join {
  position: fixed;
  bottom: 35px;
  right: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5;
  transition: 0.3s;

  &:before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform-origin: center left;
    transform: scaleX(0);
    transition: 0.4s ease-out;
  }
  &:hover:before {
    transform: scaleX(1);
    transform-origin: center right;
    transition: 0.3s;
  }
  &:active {
    transform: scale(0.95);
    opacity: 0.8;
  }
}

.title {
  position: fixed;
  top: 80px;
  left: 40px;
  font-size: 24px;
  opacity: 0.6;
}

.date {
  position: fixed;
  bottom: 35px;
  left: 40px;
  filter: invert(0);
  p {
    transition: 0.5s;
    transition-delay: 0.2s;
  }

  p:first-child {
    margin-bottom: 12px;
  }
}

@media (max-width: 1050px) {
  .main {
    right: 100px;
  }
}

@media (max-width: 600px) {
  // Mobile overlay down & up
  body {
    height: 1800px;
  }
  body:before {
    position: fixed;
    content: "";
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }
  body:after {
    position: fixed;
    content: "";
    top: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }

  .link-wrapper {
    pointer-events: none;
  }

  .active .link-wrapper {
    pointer-events: unset;
  }

  .active .link-wrapper.disabled {
    pointer-events: none;
  }

  #container {
    display: none;
  }

  .main {
    position: unset;
    padding-top: 100px;
  }

  .title {
    top: 15px;
    left: 15px;
    font-size: 16px;
    opacity: 1;
  }

  .time__wrapper {
    font-size: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    .hour {
      margin-right: 32px;
    }
    &:active {
      transform: scale(0.9);
    }
    &.active {
      opacity: 0.5;
      // #placeholder {
      //   transform: translateY(100%);
      //   opacity: 0;
      // }
      // .play {
      //   transform: translateY(0);
      //   opacity: 1;
      // }
      // .date-play {
      //   opacity: 1;
      //   transform: translateY(0);
      // }
    }
  }

  // Move front date & joint for the mobile overlay
  .date,
  .join,
  .title {
    z-index: 2;
  }

  .date {
    font-size: 13px;
    bottom: 20px;
    left: 20px;
    opacity: 0.7;
    p:first-child {
      margin-bottom: 6px;
    }
  }

  .date-play {
    bottom: 6px;
  }
  .join {
    font-size: 13px;
    bottom: 20px;
    right: 20px;
  }
  canvas {
    pointer-events: none;
  }
}

// Big screens

@media (min-height: 1000px) {
  .main {
    top: 225px;
  }
}

@media (min-width: 1800px) {
  .main {
    right: 20vw;
  }
  .time__wrapper {
    font-size: 40px;
  }
}
