.loading {
  .title,
  .time__wrapper,
  .date,
  .join {
    opacity: 0;
  }
}

.desc {
  display: none;
}

canvas {
  transition: opacity 3s;
}

.main {
  position: absolute;
  top: 80px;
  right: 250px;
  display: flex;
  flex-direction: column;
}

canvas {
  pointer-events: none;
}

// Times Elements
.time__wrapper {
  margin-bottom: 0px;
  padding: 20px;
  position: relative;

  font-size: 20px;
  opacity: 0.25;

  cursor: pointer;
  transition: 0.25s;

  .hour {
    transition: 0.25s;
  }
  .info {
    transition: 0.25s;
  }
  #placeholder {
    transition: 0.3s;
  }

  &:hover {
    // Need important for mobile (conflict with active class)
    opacity: 1 !important;
    #placeholder {
      transform: translateY(100%);
      opacity: 0;
    }
    .play {
      transform: translateY(0);
      opacity: 1;
    }
    .date-play {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &:active {
    p {
      opacity: 0.5;
    }
    .info {
      opacity: 0.5;
    }
    transform: scale(0.95);
  }
}

.link-wrapper {
  display: flex;
  align-items: center;
}

.link-wrapper.disabled {
  pointer-events: none;
}

.hour {
  margin-right: 64px;
}

.info {
  position: relative;
  .play {
    position: absolute;
    opacity: 0;
    bottom: 0;
    transform: translateY(-100%);
    transition: 0.3s;
  }
  .date-play {
    position: absolute;
    bottom: 0;
    transform: translateY(-100%);
    opacity: 0;
    font-size: 18px;
    color: gray;
    transition: 0.3s;
  }
}

/* Others */

.join {
  position: fixed;
  bottom: 35px;
  right: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5;
  transition: 0.3s;

  // Underline
  &:before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform-origin: center left;
    transform: scaleX(0);
    transition: 0.4s ease-out;
  }
  // Make clickable zone bigger
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    width: 200%;
    height: 200%;
    transform: translate(50%, -50%);
  }
  &:hover:before {
    transform: scaleX(1);
    transform-origin: center right;
    transition: 0.3s;
  }
  &:active {
    transform: scale(0.95);
    opacity: 0.8;
  }
}

.title {
  position: fixed;
  top: 80px;
  left: 40px;
  font-size: 24px;
  opacity: 0.6;
  transition: 0.4s;
}

.date {
  position: fixed;
  bottom: 35px;
  left: 40px;
  filter: invert(0);
  color: #d0b64e;
  p {
    transition: 0.5s;
    transition-delay: 0.2s;
  }

  p:first-child {
    margin-bottom: 12px;
  }
}

// Set hover / click links for mobiles and tablets

.isMobile .link-wrapper {
  pointer-events: none;
}

.isMobile .clicked .link-wrapper {
  pointer-events: unset;
}

.isMobile .active .link-wrapper.disabled {
  pointer-events: none;
}

//

// Media Queries for tablets

@media (max-width: 1050px) {
  .main {
    right: 100px;
  }
}

// Media Queries for mobiles

@media (max-width: 600px) {
  body {
    height: 1800px;
  }

  #container {
    display: none;
  }

  .main {
    position: unset;
    padding-top: 100px;
  }

  // Black overlay bottom
  body:before {
    position: fixed;
    content: "";
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }

  // Black overlay top
  body:after {
    position: fixed;
    content: "";
    top: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }

  // Style times elements
  .time__wrapper {
    margin-bottom: 80px;
    font-size: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .hour {
      margin-right: 32px;
    }
    &:active {
      transform: scale(0.9);
    }
    &.active {
      opacity: 0.5;
    }
  }

  // Other elements
  .desc {
    // position: absolute;
    display: block;
    text-transform: uppercase;
    margin: 90px auto;
    text-align: justify;
    font-size: 12px;
    max-width: 60vw;
    opacity: 0.8;
  }

  .title {
    top: 15px;
    left: 15px;
    font-size: 16px;
    opacity: 1;
    filter: unset;
  }

  .scrolled .title {
    opacity: 0.1 !important;
  }

  .date {
    font-size: 13px;
    bottom: 20px;
    left: 20px;
    opacity: 0.7;
    p:first-child {
      margin-bottom: 6px;
    }
  }

  .date-play {
    bottom: 6px !important;
  }
  .join {
    font-size: 13px;
    bottom: 20px;
    right: 20px;
  }

  // Change z index date & join for the mobile overlay
  .date,
  .join,
  .title {
    z-index: 2;
  }
}

// Media queries for big screens

@media (min-height: 1000px) {
  .main {
    top: 155px;
  }
}

@media (min-width: 1800px) {
  .main {
    right: 20vw;
  }
  .time__wrapper {
    margin-bottom: 10px;
    font-size: 40px;
  }
}
